<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
  <div class="md:col-span-2 bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Play Game</h2>

    <!-- form ไว้ส่งคำใหม่ ๆ  -->
    <form [formGroup]="wordForm" (ngSubmit)="onWordSubmit()">
      <div class="flex gap-2">
        <input
          formControlName="word"
          type="text"
          placeholder="Enter a word"
          class="min-w-0 flex-grow p-2 sm:px-4 sm:py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 placeholder:text-gray-400"
        />
        <button
          type="submit"
          [disabled]="wordForm.invalid"
          class="px-2 sm:px-4 sm:py-2 font-bold text-white bg-indigo-600 rounded-md hover:bg-indigo-700 disabled:bg-gray-400"
        >
          Submit
        </button>
      </div>
    </form>
    @if (submissionError) {
    <p
      class="mt-4 p-3 bg-red-100 text-red-700 border border-red-400 rounded-md"
    >
      {{ submissionError }}
    </p>
    }

    <!-- ไว้แสดง History ของ user คนนั้น ๆ -->
    <h3 class="text-xl font-bold mt-8 mb-4">My History</h3>
    <ul class="space-y-2">
      @for (item of history; track item.id) {
      <li
        class="grid grid-cols-2 p-4 px-4 sm:px-8 bg-gray-50 rounded text-[0.8rem] sm:text-base"
        [class.grid-cols-3]="authService.isVip()"
      >
        <span>{{ item.word }}</span>
        <span
          class="font-semibold text-end"
          [class.justify-self-center]="authService.isVip()"
          >{{ item.score }} points</span
        >

        @if (authService.isVip()) {
        <div class="flex gap-2 justify-end">
          <button
            (click)="onEdit(item)"
            class="text-blue-600 hover:text-blue-800 cursor-pointer"
            aria-roledescription="Edit word for VIP user"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
              />
            </svg>
          </button>
          <button
            (click)="onDelete(item.id)"
            class="text-red-600 hover:text-red-800 cursor-pointer"
            aria-roledescription="Delete word for VIP user"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
              />
            </svg>
          </button>
        </div>
        }
      </li>
      } @empty {
      <p class="text-center text-gray-400 my-16">
        You can add word up to 5 words/day and see if you can beat others!
      </p>
      }
    </ul>
  </div>

  <div class="bg-white p-6 rounded-lg shadow-md">
    <h3 class="text-xl font-bold mb-4">Top 5 Players</h3>
    <ul class="space-y-2">
      @for (player of topPlayers; track player.username; let i = $index) {
      <li class="flex justify-between p-3 bg-yellow-50 rounded">
        <span>{{ i + 1 }}. {{ player.username }}</span>
        <span class="font-semibold">{{ player.totalScore }}</span>
      </li>
      }
    </ul>
  </div>
</div>
